
.vis-task-container {
  width: 100%;
  height: 31px;
  position: relative;
}
.vis-time-container {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 8px;
  // background-color: #616161;
}

.vis-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
  // border: 1px solid #909090;
}

.vis-task {
  position: absolute;
  display: inline-block;
  background-color: #F9F0F0;
  border: 1px solid pink;
  font-size: 12px;
  padding: 4px;
  height: 100%;
  color: #333;
  font-weight: bold;
  overflow: hidden;
}

.vis-unit {
  font-family: monospace;
  position: absolute;
  display: inline-block;
  height: 100%;
  font-size: 11px;
  // color: #333;
  padding: 4px;
  text-align: left;
  border-left: 1px solid #B7B7B7;
  border-top: 1px solid #B7B7B7;
}

.vis-unit:last-child {
  border-right: 1px solid #B7B7B7;
}

.vis-unit:hover {
  background-color: #ddd;
}
