.tasktable {
  width: 100%;
}

.tasktable > thead > tr {
  border-bottom: 1px solid #ccc;
}

.tasktable > tbody > tr {
  border-bottom: 1px solid transparent;
}

.tasktable th, .tasktable td {
  padding: 8px;
  text-align: left;
}
